Repository iTsingchen/womk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{js,mjs,ts,tsx}": ["eslint", "prettier --write"],
  "*.css": ["prettier --write"],
  "*.md": ["prettier --write"],
  "*.json": ["prettier --write"]
}

新增 useBusinessEvent, 重命名 useBusiness 为 useBusinessState (#27)
  configurations/eslint-config/vanilla.js
  packages/react/hooks/README.md
  packages/react/hooks/src/index.ts
  packages/react/hooks/src/use-business-event.test.ts
  packages/react/hooks/src/use-business-event.ts
  packages/react/hooks/src/use-business-state.test.ts
  packages/react/hooks/src/use-business-state.ts
  packages/react/hooks/src/use-business.ts
Due: eslint, prettier --write

chore: :hammer: update changeset
  .changeset/funny-years-remain.md
Due: prettier --write

Update changes set (#29)
  .changeset/funny-years-remain.md
Due: prettier --write

feat(react-hooks): :sparkles: add useIdle hook
  packages/react/hooks/src/use-idle.test.ts
  packages/react/hooks/src/use-idle.ts
Due: eslint, prettier --write

docs(react-hooks): :memo: update README.md
  .github/workflows/ci.yml
  packages/react/hooks/README.md
  packages/react/hooks/src/index.ts
Due: eslint, prettier --write

fix: :bug: update packageManager version
  package.json
Due: prettier --write

fix: :bug: fix ci
  .github/workflows/release-package.yml
Due: none

ci: :ferris_wheel: update lockfile
  .github/workflows/ci.yml
  .github/workflows/release-package.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: :ferris_wheel: remove pnpm version
  .github/workflows/ci.yml
  .github/workflows/release-package.yml
Due: none

chore(Turbrepo): :hammer: update turbo.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

build: :package: update version
  .changeset/famous-buckets-swim.md
  .changeset/funny-years-remain.md
  .changeset/tough-points-protect.md
  packages/react/hooks/CHANGELOG.md
  packages/react/hooks/package.json
Due: prettier --write
