Repository iTsingchen/womk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

ci: :sparkles: 新增 CI Github Action
  .czrc
  .github/workflows/ci.yml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat(react-hooks): :sparkles: 新增 useBusiness/usePrevious 等 react hooks
  .gitignore
  package.json
  packages/react/hooks/.eslintrc.cjs
  packages/react/hooks/package.json
  packages/react/hooks/src/index.ts
  packages/react/hooks/src/use-business.test.ts
  packages/react/hooks/src/use-business.ts
  packages/react/hooks/src/use-isomorphic-effect.ts
  packages/react/hooks/src/use-previous-distinct.test.ts
  packages/react/hooks/src/use-previous-distinct.ts
  packages/react/hooks/src/use-previous.test.ts
  packages/react/hooks/src/use-previous.ts
  packages/react/hooks/tsconfig.json
  packages/react/hooks/tsconfig.node.json
  packages/react/hooks/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  turbo.json
Due: eslint, prettier --write

build(publish): :package: 更新 publish 依赖
  package.json
  packages/react/hooks/package.json
  pnpm-lock.yaml
Due: prettier --write

build(changeset): :package: 初始化 changesets
  .changeset/README.md
  .changeset/config.json
  packages/react/hooks/package.json
Due: prettier --write

ci(github action): :ferris_wheel: 更新 CI 依赖
  .github/workflows/ci.yml
Due: none

build(build): :package: 支持 github action 发布
  .github/workflows/ci.yml
  .github/workflows/release-package.yml
  .npmrc
  package.json
  packages/react/hooks/package.json
Due: prettier --write

Update release-package.yml
  .github/workflows/release-package.yml
Due: none

ci: :ferris_wheel: update CI release
  .github/workflows/release-package.yml
Due: none

Update .npmrc
  .npmrc
Due: none

ci: :ferris_wheel: update release workflow
  .github/workflows/release-package.yml
  .npmrc
Due: none

ci(publish): :ferris_wheel: 支持 git action 发版
  .github/workflows/ci.yml
  .github/workflows/release-package.yml
  .npmrc
  configurations/eslint-config/package.json
  configurations/tsconfig/package.json
  package.json
  packages/react/hooks/.eslintrc.cjs
  packages/react/hooks/package.json
  packages/react/hooks/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

ci(publish): :ferris_wheel: 支持 Github Action 发布
  .github/workflows/release-package.yml
Due: none

docs(react-hooks): :memo: 新增 useBusiness 文档
  .vscode/settings.json
  README.md
  packages/react/hooks/README.md
Due: prettier --write

ci(workflow): :lipstick: 移除 debugge code
  .github/workflows/release-package.yml
Due: none

build(version): :package: update version
  packages/react/hooks/package.json
Due: prettier --write

build(changeset): :package: collect changeset
  .changeset/tough-points-protect.md
Due: prettier --write

Create famous-buckets-swim.md
  .changeset/famous-buckets-swim.md
Due: prettier --write

ci(husky): :ferris_wheel: cI 环境禁用 husky
  README.md
  package.json
Due: prettier --write

chore(deps): :hammer: update deps
  pnpm-lock.yaml
Due: none

ci(release): :ferris_wheel: update release workflow
  .github/workflows/release-package.yml
Due: none

ci(release): :ferris_wheel: update release workflow (#11)
  .github/workflows/release-package.yml
Due: none

test(codecov): :white_check_mark: 新增测试覆盖率 CI
  .github/workflows/ci.yml
  codecov.yml
  package.json
  packages/react/hooks/package.json
  packages/react/hooks/vitest.config.ts
  turbo.json
Due: eslint, prettier --write

test(workflow): :white_check_mark: 修复 CI 脚本
  .github/workflows/ci.yml
Due: none

docs(readme): :memo: 新增代码覆盖率徽标
  README.md
Due: prettier --write

test(codecov): :white_check_mark: 新增测试覆盖率 CI (#14)
  .github/workflows/ci.yml
  README.md
  codecov.yml
  package.json
  packages/react/hooks/package.json
  packages/react/hooks/vitest.config.ts
  turbo.json
Due: eslint, prettier --write

docs(react-hooks): :memo: 更新 react-hooks 文档
  README.md
  packages/react/hooks/README.md
Due: prettier --write

docs(react-hooks): :memo: 更新 react-hooks 文档 (#15)
  README.md
  packages/react/hooks/README.md
Due: prettier --write

docs(react-hooks doc): :memo: update react-hooks docs
  README.md
  packages/react/hooks/README.md
Due: prettier --write

build: :package: update changeset
  .changeset/two-fireants-pump.md
Due: prettier --write

Task/t16 (#17)
  .changeset/two-fireants-pump.md
  README.md
  packages/react/hooks/README.md
Due: prettier --write

docs(react-hooks): :memo: update useBusiness docs
  packages/react/hooks/README.md
  packages/react/hooks/package.json
Due: prettier --write

docs(react-hooks): :memo: update useBusiness docs (#19)
  packages/react/hooks/README.md
  packages/react/hooks/package.json
Due: prettier --write

fix(react-hooks): :bug: 应用 fast-equal 替代 useBusiness 内部实现的 deepEqual
  packages/react/hooks/package.json
  packages/react/hooks/src/use-business.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(react-hooks): :bug: 应用 fast-equal 替代 useBusiness 内部实现的 deepEqual (#22)
  packages/react/hooks/package.json
  packages/react/hooks/src/use-business.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: :hammer: changeset
  .changeset/modern-pears-wink.md
Due: prettier --write

Task/t20 v0.0.x (#23)
  .changeset/modern-pears-wink.md
  packages/react/hooks/package.json
  packages/react/hooks/src/use-business.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(react-hooks): :sparkles: 新增 useBusinessEvent, 重命名 useBusiness 为 useBusinessState
  configurations/eslint-config/vanilla.js
  packages/react/hooks/src/index.ts
  packages/react/hooks/src/use-business-event.test.ts
  packages/react/hooks/src/use-business-event.ts
  packages/react/hooks/src/use-business-state.test.ts
  packages/react/hooks/src/use-business-state.ts
  packages/react/hooks/src/use-business.ts
Due: eslint, prettier --write

docs(react-hook-doc): :memo: 更新 react-hook doc
  packages/react/hooks/README.md
Due: prettier --write

Path conditions:
  eslint: any of: *.{js,mjs,ts,tsx}
  prettier --write: (((any of: *.{js,mjs,ts,tsx}) or (any of: *.css)) or (any of: *.md)) or (any of: *.json)
